@layer page {

.root {
  display: grid;
  grid-template-columns: 33% 67%;
  width: 100%;
  gap: var(--f4n-spacing-dyn-huge);

  padding-top: var(--f4n-spacing-very-huge);
}

@media only screen and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;

    padding-top: var(--f4n-spacing-huge);
    padding-bottom: var(--f4n-spacing-huge);
  }
}

.postList {
  display: flex;
  flex-direction: column;
  gap: var(--f4n-spacing-huge);

  width: calc(100% - var(--f4n-spacing-dyn-huge));
}

@media only screen and (max-width: 768px) {
  .postList {
    width: 100%;
  }
}


}