.root {
  display: grid;
  grid-template-columns: 33% 67%;
  width: 100%;
  gap: var(--f4n-spacing-huge);

  padding-top: var(--f4n-spacing-very-huge);
}

.postList {
  display: flex;
  flex-direction: column;
  gap: var(--f4n-spacing-huge);

  width: calc(100% - var(--f4n-spacing-huge));
}