.root {
  display: inline-flex;
  gap: var(--f4n-spacing-small);
  padding: var(--f4n-spacing-small) var(--f4n-spacing-normal);
  list-style: none;
  width: fit-content;
  background: var(--type-color);
}

.caption {
  font-size: var(--f4n-font-size-small);
  color: var(--f4n-white);
  font-weight: 700;
  letter-spacing: 0;
}
