@layer page {
  .post {
    color: hsl(var(--type-color-hue), 43%, 20%);
    font-size: var(--f4n-font-size-large);
  }

  @media only screen and (max-width: 768px) {
    .post {
      padding: 0 var(--f4n-spacing-large);
    }
  }

  @media only screen and (max-width: 375px) {
    .post {
      font-size: var(--f4n-font-size-normal);
    }
  }

  .post p {
    line-height: var(--f4n-line-height-bloody-loose);
    letter-spacing: var(--f4n-char-spacing-loose);

    margin-bottom: 1.5em;
  }

  .post em {
    font-style: italic;
  }

  .post *:is(small, sub, sup) {
    font-size: .83em;
  }

  .post sub {
    vertical-align: sub;
    line-height: 0; /* To avoid sub/sup messing up the line-height */
  }

  .post sup {
    vertical-align: super;
    line-height: 0; /* To avoid sub/sup messing up the line-height */
  }

  .post pre {
    border: 2px solid var(--type-color);
    font-size: var(--f4n-font-size-small);
    font-family: var(--f4n-font-family-mono);
  }

  .post *:not(pre) > code {
    font-size: var(--f4n-font-size-normal);
    font-family: var(--f4n-font-family-mono);
    letter-spacing: 0;
    font-weight: 300;

    padding: 0.1em 0.5em;
    background-color: rgba(0 0 0 / 0.07);
    border-radius: 2px;
  }

  .post *:is(h1, h2, h3, h4, h5, h6, strong) code {
    font-weight: 500;
  }

  .post strong {
    font-weight: 600 !important;
  }

  .post del {
    text-decoration: line-through;
    opacity: 50%;
  }

  .post *:is(ul, ol) {
    margin-left: 2em;
    margin-top: var(--f4n-spacing-large);
    margin-bottom: var(--f4n-spacing-large);
  }

  .post ul {
    list-style: disc;
  }

  .post ol {
    list-style: decimal;
  }

  .post *:is(ul, ol) > *:not(:first-of-type) {
    margin-top: var(--f4n-spacing-large);
  }

  .post li {
    padding-left: 0.5em;
  }

  .post *:is(h1, h2, h3, h4, h5, h6) {
    color: var(--type-color);
    line-height: var(--f4n-line-height-loose);
    font-weight: 700;
    font-size: calc(var(--f4n-font-size-huge) * var(--size));
    margin-top: calc(var(--f4n-spacing-huge) * var(--size));
    margin-bottom: calc(var(--f4n-spacing-large) * var(--size));
  }

  @media only screen and (max-width: 768px) {
    .post *:is(h1, h2, h3, h4, h5, h6) {
      font-size: calc(var(--f4n-font-size-huge) * var(--size) * 0.9);
      margin-top: calc(var(--f4n-spacing-huge) * var(--size) * 0.9);
      margin-bottom: calc(var(--f4n-spacing-large) * var(--size) * 0.9);
    }
  }

  .post h1 {
    --size: 1.2;
  }

  .post h2 {
    --size: 1;
  }

  .post h3 {
    --size: 0.8;
  }

  .post h4 {
    --size: 0.65;
  }

  .post h5 {
    --size: 0.5;
  }

  .post h6 {
    --size: 0.4;
  }

  .post a {
    text-decoration: underline;
    color: var(--f4n-primary);
  }

  .post a:visited {
    color: var(--f4n-text-primary);
  }

  .post table {
    border-collapse: collapse;
    gap: 0.5em;
    border-style: hidden;
    margin: var(--f4n-spacing-large) 0;
  }

  .post thead {
    background-color: hsla(var(--type-color-hue), 80%, 80%, 10%);
    font-weight: 600;
  }

  .post *:is(th, td) {
    padding: 0.5em 1em;
    border: 1px solid var(--type-color);
  }

  .post blockquote {
    background-color: hsla(var(--type-color-hue), 40%, 50%, 10%);
    padding: var(--f4n-spacing-large);
    padding-bottom: calc(var(--f4n-spacing-large) - var(--f4n-spacing-normal));

    margin-bottom: 1.5em;
    border-radius: 4px;
  }

  .post blockquote p {
    margin-bottom: var(--f4n-spacing-normal);
    border-left: 2px solid var(--type-color);
    padding-left: var(--f4n-spacing-large);
  }

  .post section[data-footnotes=true] h2 {
    font-size: var(--f4n-font-size-large);
    border-bottom: 1px dotted var(--type-color);
    padding-bottom: var(--f4n-spacing-small);
  }

  .post section[data-footnotes=true] p {
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }
}

@layer component {
  .post hr {
    margin-top: var(--f4n-spacing-huge);
    margin-bottom: var(--f4n-spacing-huge);
  }
}
