@layer component {
  .root {
    transition: all 200ms;
  }

  .root:hover {
    border-left-width: 16px;
  }

  .root:hover .mainTitle {
    text-decoration: underline;
  }

  .root:hover .read {
    width: 7em;
    padding: var(--f4n-spacing-small) var(--f4n-spacing-normal);
  }

  .root:focus {
    border-left-width: 16px;
  }

  .root:focus .mainTitle {
    text-decoration: underline;
  }

  .root:focus .read {
    width: 7em;
    padding: var(--f4n-spacing-small) var(--f4n-spacing-normal);
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: var(--f4n-spacing-small);
    letter-spacing: -1.0px;
    color: var(--f4n-text-primary);
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--f4n-spacing-tiny);
    padding-left: var(--f4n-spacing-large);
    padding-right: var(--f4n-spacing-large);
  }

  .mainTitle {
    font-size: var(--f4n-font-size-huge);
    font-style: normal;
    line-height: var(--f4n-line-height-bit-loose);
    font-weight: 700;
  }

  .subTitle {
    font-size: var(--f4n-font-size-normal);
    font-weight: 500;
  }

  .read {
    padding: var(--f4n-spacing-small) var(--f4n-spacing-normal);
    background-color: var(--type-color);
    color: white;
    font-weight: 700;
    font-size: var(--f4n-font-size-small);
    display: inline-block;

    width: 0;
    padding-left: 0;
    padding-right: 0;

    white-space: nowrap;
    transition: all 200ms;
    text-align: center;
    overflow: hidden;
  }
}
