.coding,
.coding * {
  --type-color: var(--f4n-primary);
  --type-color-hue: 331deg;
}

.programming,
.programming * {
  --type-color: var(--f4n-theme-sky);
  --type-color-hue: 202deg;
}

.til,
.til * {
  --type-color: var(--f4n-theme-blue);
  --type-color-hue: 223deg;
}

.mylife,
.mylife * {
  --type-color: var(--f4n-theme-light-pink);
  --type-color-hue: 324deg;
}

.mycareer,
.mycareer * {
  --type-color: var(--f4n-theme-purple);
  --type-color-hue: 266deg;
}

.release,
.release * {
  --type-color: var(--f4n-theme-dark-green);
  --type-color-hue: 151deg;
}

.other,
.other * {
  --type-color: var(--f4n-theme-gray);
  --type-color-hue: 331deg;
}
