.header {
  position: sticky;

  display: flex;

  width: 100%;
  background-color: rgba(var(--f4n-white), 0.75);
  padding: 6px 8px;

  color: var(--f4n-text-primary);
  font-family: Inter;
  font-size: var(--f4n-font-size-small);
  line-height: var(--f4n-line-height-packed);
  font-weight: 300;
  letter-spacing: -0.5px;
}

.listWrap {
  display: flex;
  gap: var(--f4n-spacing-small);
}

.eachLink {
  border-left: 0 solid var(--f4n-text-primary);
  transition: 150ms all;
}

.eachLink:focus, .eachLink:hover {
  text-decoration: underline;
  border-left-width: 6px;
  padding-left: 6px;
}

.emphasized {
  font-weight: bold;
}
