.post {
  color: hsl(var(--type-color-hue), 43%, 15%);
}

@media only screen and (max-width: 768px) {
  .post {
    padding: 0 var(--f4n-spacing-large);
  }
}

.post p {
  font-size: var(--f4n-font-size-large);
  line-height: var(--f4n-line-height-bloody-loose);
  letter-spacing: var(--f4n-char-spacing-loose);

  margin-bottom: var(--f4n-spacing-normal);
}

.post h1 {
  color: var(--type-color);
  font-size: var(--f4n-font-size-huge);

  margin-top: var(--f4n-spacing-huge);
  margin-bottom: var(--f4n-spacing-large);

  line-height: var(--f4n-line-height-loose);
  font-weight: 700;
}
