@layer page {

.root {
  padding: var(--f4n-spacing-huge) 15vw;
}

.article {
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "content sidebar"
    "footer footer";

  width: calc(100% - var(--f4n-spacing-dyn-huge));
  gap: var(--f4n-spacing-huge) var(--f4n-spacing-dyn-huge);
}

@media only screen and (max-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
    gap: var(--f4n-spacing-huge) 0;
    width: 100%;
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.footer {
  grid-area: footer;
}

}