@layer component {
  .root {
    position: sticky;
    top: var(--f4n-spacing-very-large);

    border: 2px solid var(--type-color);
    padding: var(--f4n-spacing-very-large);
    height: fit-content;
  }

  .title {
    color: var(--type-color);
    font-size: var(--f4n-font-size-large);
    line-height: var(--f4n-line-height-loose);
    margin-bottom: var(--f4n-spacing-small);
  }

  .hr {
    border-top: 1px solid var(--type-color);
    margin-top: var(--f4n-spacing-very-large);
    margin-bottom: var(--f4n-spacing-very-large);
  }

  .tocNav > .tocList {
    margin-left: 0;
  }

  .tocList {
    margin-left: var(--f4n-spacing-normal);
    margin-top: var(--f4n-spacing-small);
  }

  .tocList > *:not(:first-of-type) {
    margin-top: var(--f4n-spacing-small);
  }

  .tocElement {
    color: var(--type-color);
  }

  .tocElement:is(:hover, :focus) {
    text-decoration: underline;
  }

  .tocTopLevel > .tocElement {
    font-weight: 600;
  }

  .tocNav .tocTopLevel > .tocElement::before {
    content: "#";
    font-weight: 300;
    color: var(--type-color);
    padding-right: var(--f4n-spacing-tiny);
    text-decoration: none !important;
  }

  .tocNav .tocTopLevel > .tocList {
    margin-left: var(--f4n-spacing-large);
  }
}